body{
    margin: 0;
    padding: 0;
    background-color: rgb(218, 248, 248);
}
header{
    text-align: center;
    font-style: italic;
    font-stretch: extra-expanded;
}

.intro{
    margin: 0;
    padding-left: 15%;
    margin-top: 30px;
}
#introParagraph{
    display: none;
}


.container h2{
    font-size: 40px;
}

/* NAVIGATION BAR */
nav{
    background-color: rgb(226, 239, 245);
    height: 90px;
    width: 90%;
    margin-bottom: 4%;
    border-radius: 20px;
    margin-left: 20px;
}
label.logo{ 
    color: rgb(156, 114, 114);
    font-size: 65px;
    line-height: 80px;
    padding: 0;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: rgb(24, 18, 18);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 75%;
    font-style: helvetica;

}
.active{
    background-color: rgb(208, 196, 219);
}
#logo {
    font-size: 40px;
    color: rgb(127, 144, 158);
    margin-left: 20px;
    letter-spacing: 0.1em;
    text-align: center;
    margin-top: 20px;
}
.container h2 {
    font-size: 70px;
    font-style: italic;
}
.container #img1{
    height: 250px;
    width: 500px;
    border-radius: 30px;
    border-style: outset;
}
.container #img2{
    height: 180px;
    width: 200px;
    border-radius: 30%;
}
/* ORDER SELECT
 */
.order {
    background-color:  rgb(226, 239, 245);
    background-image: url(/images/pizzaslice.png),url(/images/pizzaslice.png);
    margin: 0;
    margin-top: 10px;
}
.select{
    padding: 3.5px 12px;
    color: #333333;
    border: 1px solid;
    cursor: pointer;
    border-radius: 5px;
}
.btn:hover{
    opacity: 0.7;
    pointer-events: all;
}
h3 {
    text-align: centre;
    font-style: italic;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
#tot{
    font-style: italic;
    font-size: 20px;
}


/* WEEK PROMOTION */
.cards{
    margin: 0;
    max-width: 1200px;
    max-height: 100px;
    display: grid;
    border-radius: 50%;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    gap: 50px;
    font-family: sans-serif;
}
.card{
    box-shadow: 0,0,0;
}

.card__img {
    width: 100%;
    display: block;
}
card__img:hover{
    opacity: 0.4;
}

.card__content{
    line-height: 1.5;
    font-size: 0,.9cm;
    padding: 15px;
    background-color: #fafafa;
}

.footer.social{
    text-align: center;
    padding-bottom: 25px;
    color: rgb(68, 57, 57);
}
